on init
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/usbdisk 0000 system system

    # for backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/usbdisk /usbdisk
    symlink /storage/usbdisk /mnt/usbdisk

    export EXTERNAL_STORAGE /storage/sdcard0

    setprop ro.usb.idproduct.ums 0cec
    setprop ro.usb.idproduct.rndis 0cec
    setprop ro.usb.idproduct.mtp 0f91
    setprop ro.usb.idproduct.mtp_adb 0df9

# Services start here

service akmd /system/bin/akmd
    class main
    user compass
    group compass misc input

service cand /system/bin/cand
    user root

service ewtzmud /system/bin/ewtzmud
    class main
    user system
    group system misc input

service setup_fs /system/bin/setup_fs mmcblk0p34
    class core
    user root
    group root
    oneshot
