on init
    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

# Services start here

service ewtzmud /system/bin/ewtzmud
    class main
    user system
    group system misc input
