import init.ville.usb.rc

on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

on emmc
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /devlog 0700 root root

    mount ext4 /dev/block/mmcblk0p33 /system wait ro data=ordered noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p35 /data wait noatime nosuid nodev data=ordered noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p34 /cache wait noatime nosuid nodev data=ordered noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p26 /devlog wait noatime nosuid nodev data=ordered noauto_da_alloc

on emmc-fs
    # msm8960 firmware
    #mkdir /firmware_dsps 0771 system system
    mkdir /firmware_q6 0771 system system
    mkdir /firmware_radio 0771 system system
    mkdir /firmware_wcnss 0771 system system

    #wait /dev/block/mmcblk0p16
    wait /dev/block/mmcblk0p17
    wait /dev/block/mmcblk0p18
    wait /dev/block/mmcblk0p19

    #mount vfat /dev/block/mmcblk0p16 /firmware_dsps
    mount vfat /dev/block/mmcblk0p17 /firmware_radio ro shortname=lower
    mount vfat /dev/block/mmcblk0p18 /firmware_q6 ro shortname=lower
    mount vfat /dev/block/mmcblk0p19 /firmware_wcnss ro shortname=lower

    # use qcom link scripts for firmware links
    #exec /system/bin/sh /system/etc/init.qcom.dsps_links.sh
    exec /system/bin/sh /system/etc/init.qcom.q6_links.sh
    exec /system/bin/sh /system/etc/init.qcom.radio_links.sh
    exec /system/bin/sh /system/etc/init.qcom.wcnss_links.sh

on init
    # double check perms and set owner
    chown root root /devlog
    chmod 0700 /devlog

    # sensors
    chown compass system /dev/akm8975_aot
    chown compass system /dev/akm8975_daemon
    chown compass system /dev/bma150
    chmod 0640 /dev/akm8975_aot
    chmod 0640 /dev/akm8975_daemon
    chmod 0640 /dev/bma150

    chown system system /dev/ewtzmu2daemon
    chown system system /dev/ewtzmu2hal
    chown system system /dev/ewtzmu2
    chmod 0640 /dev/ewtzmu2daemon
    chmod 0640 /dev/ewtzmu2hal
    chmod 0640 /dev/ewtzmu2


on boot
    # bluetooth
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # for modem link
    chown system system /sys/module/serial/parameters/modem_enabled
    chown system system /dev/ttyHSUSB0
    chown system system /dev/ttySA0
    chown system system /dev/smd9

    # wifi
    mkdir /data/misc 1771 system misc
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/hostapd 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # create symlink to qcn wpa_supplicant folder
    symlink /data/misc/wifi/wpa_supplicant /data/system/wpa_supplicant
    symlink /dev/socket/wpa_wlan0 /data/system/wpa_supplicant/wlan0

    # liblights
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness

    # flashlight
    chown system system /sys/class/leds/flashlight/brightness
    chmod 0666          /sys/class/leds/flashlight/brightness

    # set diag permissions
    chown radio radio /dev/diag
    chown radio radio /dev/diag_mdm
    chown radio radio /dev/htcdiag
    chown radio radio /dev/diag_arm9
    chown radio radio /dev/btdiag
    chmod 0660 /dev/diag
    chmod 0660 /dev/diag_mdm
    chmod 0660 /dev/htcdiag
    chmod 0660 /dev/diag_arm9
    chmod 0660 /dev/btdiag

    # Chown polling nodes as needed from UI running on system server
    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.1/polling

    # port-bridge
    chmod 0660 /dev/smd0
    chown system system /dev/smd0

    chmod 0660 /dev/ttyGS0
    chown system system /dev/ttyGS0

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    # symlink for HDMI
    symlink /dev/graphics/fb1 /dev/graphics/hdmi

    # for netmgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/usb_composite/rmnet_smd_sdio/transport

    # create folder for time-services
    mkdir /data/time 0700 system system

    # audio
    mkdir /data/audio 0775 media audio

    # radio
    mkdir /data/radio 0770 radio radio

    # for simlock
    chown radio radio /dev/simlock
    chmod 0660 /dev/simlock

    # allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2

    # Define TCP buffer sizes for various networks
    setprop net.tcp.buffersize.hspa 4096,174760,3145728,4096,16384,110208
    setprop net.tcp.buffersize.hsupa 4096,174760,1572864,4096,16384,110208
    setprop net.tcp.buffersize.hsdpa 4096,174760,1572864,4096,16384,110208
    setprop net.tcp.buffersize.umts 4096,174760,1572864,4096,16384,110208
    setprop net.tcp.buffersize.edge 4096,174760,1572864,4096,16384,35040
    setprop net.tcp.buffersize.gprs 4096,174760,1572864,4096,8760,11680

    # load kineto_gan.ko
    insmod /system/lib/modules/kineto_gan.ko

    # low charge current in voice call
    chown radio radio /sys/class/power_supply/battery/phone_call
    chown radio radio /sys/class/power_supply/battery/network_search

    # for slate charging timer
    chown radio /sys/class/power_supply/battery/charger_timer

    # cyttsp update
    write /sys/devices/i2c-3/3-0024/cyttsp_update_fw 1

# Services start here

service abld /system/bin/mm-abl-daemon
    disabled

service akmd /system/bin/akmd
    user compass
    group compass misc input

service cand /system/bin/cand
    user root

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKLG
    disabled
    oneshot

service ewtzmud /system/bin/ewtzmud
    user system
    group system misc input

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    user root
    group system qcom_oncrpc
    disabled
    oneshot

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service hdmid /system/bin/hdmid
    socket hdmid stream 0660 root system graphics
    disabled

service iprenew_wlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
    user root
    disabled

service netmgrd /system/bin/netmgrd

service qcamerasvr /system/bin/mm-qcamera-daemon
    user system
    group system camera inet

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    user root
    disabled
    oneshot

service qcom-sh /system/bin/sh /init.qcom.sh
    user root
    oneshot

service qcom-wifi /system/bin/sh /system/etc/init.qcom.wifi.sh
    oneshot

service qmuxd /system/bin/qmuxd
    user radio
    group radio

service rmt_storage /system/bin/rmt_storage modem_st1 modem_st2 recovery radio_config
    class core
    user root

service thermald /system/bin/thermald
    user root
    group root
    disabled

service time_daemon /system/bin/time_daemon
    user root
    group root
    oneshot
    disabled

service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0
    user root
    group wifi inet
    socket wpa_wlan0 dgram 0660 wifi wifi
    disabled
    oneshot

service zchgd_offmode /system/bin/zchgd -pseudooffmode
    user root
    group root graphics
    disabled

service zchgd_onmode /system/bin/zchgd -onmode
    user root
    group root graphics
    oneshot

on property:init.svc.bootanim=stopped
    start qcom-post-boot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_wlan0

on property:persist.thermal.monitor=true
    start thermald

on property:persist.timed.enable=true
    start time_daemon

on property:ro.hdmi.enable=true
    start hdmid

on property:ro.qualcomm.cabl=1
    start abld

on property:ro.qualcomm.cabl=0
    stop abld

on property:ro.use_data_netmgrd=false
    stop netmgrd
